extends layout

block content
  a.btn.btn-warning(href="/personaje") Ver todos
  h1= title
    h1
            strong Lista Completa
    ul
          each personaje in personajes
            li
              a(href=`/personaje/${personaje.id}`)= personaje.name
                    
